*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --dark-color: #0F172B;
    --bright-color: #fff;
    --pink-color: #cb3488;
    --yellow-color:#ffff00;
    --light-pink: #ffb6c1;
}
body{
    background: var(--light-pink);
}

header{
    background-color: var(--dark-color);
    color: var(--bright-color);

    .navbar{
        background: transparent;
        transition: all .45s ease;

        .container-fluid{

            .navbar-brand{

                .logo{
                    width: 100px;
                    animation: imgRotate 50s linear infinite;

                }
            }
            h3{
                font-family: 'Pacifico', cursive;

                span{
                    color: var(--pink-color);
                    font-family: 'Pacifico', cursive;
                }

            }

            .navbar-collapse{

                .navbar-nav{

                    .nav-item{
                        

                        .nav-link{
                            font-family: 'Courier New', Courier, monospace;
                            position: relative;
                            font-size: 1.7rem;
                            padding-right: 41px;
                            font-weight: 600;
                            
                        }
                        .nav-link:hover{
                            border: 1px solid var(--pink-color);
                        }
                        .nav-link:active {
                            background-color: var(--pink-color);
                          }
                    }
                }
            }
        }
    }
}
/* //////////////////MEDIA QUERY FOR NAV///////////////// */
@media screen and (max-width: 1100px){
    header{
       .navbar{
           .container-fluid{
               .navbar-brand{
                   .logo{
                        width: 80px;
                    }
                }

                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                font-size: 1.5rem;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* //////////////HOME SECTION///////////////// */
.home{
    /* border: 2px solid red; */
    height: 100vh;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(https://i.ibb.co/M1pH9Gv/background-Food-Img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6rem;


    .heading-top{
        font-family: "Nunito", sans-serif;
        font-weight: 800;
    }
    .pink-color{
        color: var(--pink-color);
    }


    .p-text{
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    /* .left-align{
        align-items: start;
        text-align: left;
    } */

    .h-image{
        /* border: 1px solid blue; */
        width: 85%;
        animation: imgRotate 50s linear infinite;
        cursor: pointer;
    }

}
@keyframes imgRotate{
    100%{
        transform: rotate(360deg);
    }
}

/* ///////////////////MEDIA QUERY FOR HOME SECTION//////////////// */

@media screen and (max-width: 1100px){
   .home{
    padding-top: 13rem;

    .heading-top {
        font-size: 29px;
        line-height: 47px;
    }
    .p-text {
        line-height: 34px;
    }
       .h-image{
            width: 78%;
        }
    }
}
@media screen and (max-width: 800px){
   .home{

    .heading-top {
        font-size: 21px;
        line-height: 38px;
    }
    .p-text {
        font-size: 1rem;
    }
    }
}
@media screen and (max-width: 500px){
   .home{
    padding-top: 9rem;

    .heading-top {
        font-size: 21px;
        line-height: 38px;
    }
    .p-text {
        font-size: 1rem;
    }

    .h-image{
        width: 72%;
    }
    }
}


/* /////////////////////listingPage section /////////////// */
.listingPage{
    background: var(--light-pink);
    /* height: 500px; */

    .container{
        .listingh2{
            color: var(--pink-color);
            padding-top: 2rem;
            text-decoration: underline;
            font-weight: 900;
        }

        .listingRow{
            /* border: 2px solid red; */
            box-shadow: -2px 5px 11px var(--pink-color);
            /* height: 300px; */
            margin-top: 2rem;
            margin-bottom: 2rem;

            .listingCol{
                padding: 1rem;

                h3{
                    padding: 1rem;
                    color: var(--pink-color);
                }
                ul{

                    .list-group-item{
                        background: var(--pink-color);
                        border-radius: 15px;

                        label{
                            color: var(--bright-color);
                            cursor: pointer;
                        }
                    }
                }

                li:hover{
                    background: var(--dark-color);
                    cursor: pointer;
                }
            }
            .firstCol{
                border-right: 10px solid var(--pink-color);
            }

            .favoriteCol{
                li{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/* --------------MEDIA QUERY FOR LISTING SECTION --------------- */

@media screen and (max-width: 800px){
    .listingPage {
        & .container {
            & .listingRow {
                & .listingCol {
                    h3 {
                        font-size: 1.2rem;
                    }
                    ul{
                        & .list-group-item{
                            font-size: 0.8rem;
                            label{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                & .favoriteCol {
                    li{
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}
/* ------------------------listing meal-------------------- */
.borderListing{
    transition: all .50s ease;
}
.borderListing:hover{
    box-shadow: -2px 5px 11px var(--pink-color);
    transform: translateY(-15px);
}
.listingMealImage{
    width: 150px;
}
.listing-h5{
    padding-top: 15px;
}
.mealRow{
    margin-top: 20px;
    margin-bottom: 10px;
}
.mealSpan{
    display: inline;
    border: 2px solid var(--pink-color);
    width: fit-content;
    margin-right: 10px;
}

/* ------------------------MEDIA QUERY FOR LISTING SECTION --------------------- */
@media screen and (max-width: 500px){
    .listing-h5{
        font-size: 1rem;
    }
    .mealSpan{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 400px){
    .listing-h5{
        font-size: 0.8rem;

        .text-primary{
            font-size: 0.8rem;
        }
    }
    small{
        font-size: 0.7rem;
    }
    .mealSpan{
        font-size: 0.6rem;
    }
}

/* -----------------------FOOTER SECTION =-------------------------- */
footer{
    border: 2px solid var(--dark-color);
    /* height: 400px; */
    background: var(--dark-color);
    padding-bottom: 1rem;

    .container{

        .bottom-row{
            padding-top: 50px;
            padding-bottom: 50px;
            font-size: 1.5rem;

            .col-md-6{
                padding-top: 15px;

                a{
                    color: var(--light-pink);

                    i{
                        padding-right: 10px;
                        font-size: 2rem;
                    }
                }
            }
        }

    }

    .copy-div{
        font-size: 1.5rem;
        padding-top: 10px;

        .last{
            color: var(--pink-color);
        }
    }
}

/* ///////////////////MEDIA QUERY FOR FOOTER SECTION/////////////// */

@media screen and (max-width: 800px){
    footer{
        .container{

            .bottom-row{
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 1rem;

                .col-md-6{
                    padding-top: 15px;

                    a{

                        i{
                            padding-right: 10px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

        }

        .copy-div{
            font-size: 1rem;
        }
    }
}